/* mitocondrio (mitocondrio.html) */
.immagineMitocondrio {
    width: 400px;
    position: absolute;
    left: 720px;
    right: 0px;
    top: 170px;
    z-index: 1;
    
}
.mitocondriBlu {
    color: blue;
    font-weight: bold;
}

.descrizioneMitocondrio {
    white-space: pre-line;
    max-width: 45em; /* Adjust as needed */
    
}
.mitocondrio, .descrizioneMitocondrio, .mitocondriBlu {
    font-family: Arial;
}
/* --mitocondrio.-- */
